/*!
 * typeahead.js 0.8.1
 * https://github.com/twitter/typeahead
 * Copyright 2013 Twitter, Inc. and other contributors; Licensed MIT
 */

.twitter-typeahead {
  position: relative !important;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.tt-query {
  position: relative !important;
  /* for unknown reasons, this fixes alignment issues in ie7 */

  *margin-top: -1px !important;
  vertical-align: top !important;
  background-color: transparent !important;
  /* ie6-8 doesn't fire hover and click events for transparent elements
     for a workaround, use a 1x1 transparent gif */

  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7) !important;
}
.tt-hint {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  border-color: transparent !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.tt-dropdown-menu,
.tt-suggestions,
.tt-suggestion {
  background-color:#b
  padding: 0;
  margin: 0;
  list-style: none;
}

.typeahead,
.tt-hint {
  width: 574px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #024e6a;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}
.tt-dropdown-menu {
  width: 574px;
  margin-top: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
          display: none;
}
.tt-dropdown-menu.tt-is-open {
  display: block;
}
.tt-dropdown-menu.tt-is-empty {
  display: none;
}
.tt-suggestion {
  display: block;
  white-space: nowrap;
  cursor: pointer;
}
.tt-suggestion * {
  white-space: normal;
}
/* rtl support */
/* ----------- */
.twitter-typeahead.tt-rtl {
  direction: rtl;
}
.twitter-typeahead.tt-rtl .tt-dropdown-menu {
  left: auto;
  right: 0;
}
