/*this imports the google fonts api*/
@import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,300);


/*this is how you implement googe fonts:
//font-family: 'Droid Serif', serif;
//font-family: 'Open Sans', sans-serif;*/

h1{
	font-family: 'Open Sans', sans-serif;
	font-size:36px;
	font-weight:bold;
}

h2{
		font-family: 'Open Sans', sans-serif;
		font-size:30px;
		font-weight:300;
}

p{
	font-family: 'Droid Serif', serif;
	font-size:14px;
}

#welcomeparagraph p{
	text-align:center;
	
}

#header h1, h2{
	text-align:center;
	line-height:10px;
}
